@model User

@{
    ViewData["Title"] = "Register";
}

<h1>User Registration</h1>

@using (Html.BeginForm("Create", "Users", FormMethod.Post))
{
    <p>Already have an account? <a asp-controller="Login" asp-action="Index">Log in instead!</a></p>
    <br />
    <label class="form-label">Display Name</label>
    <br />
    @Html.TextBoxFor(user => user.DisplayName)
    <br />
    <label class="form-label">Username</label>
    <br />
    @Html.TextBoxFor(user => user.Username)
    <br />
    <label class="form-label">Password</label>
    <br />
    @Html.PasswordFor(user => user.Password)
    <br />
    <br />
    <input type="checkbox">
    <label class="form-label">I accept the terms and conditions. (there aren't any!)</label>
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Register</button>
}